<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pragnya Application</title>
    <link rel="stylesheet" href="{{ url_for( 'static',filename='index_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images_folder/Pragnya.jpg') }}" >

</head>

<body>
    <header>
        <nav>
            <div class="navbar ">
                <div class="left">
                    <span id="element"></span>
                </div>
                <div class="right nav-links">
                    <button class="cssbuttons-io">
                        <span>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                                fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for( 'main.home' ) }}" class="links">HOME</a>
                        </span>
                    </button>
                    
                    {% if show_auth_buttons %}
                    <button class="cssbuttons-io">
                        <span>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                                fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for( 'auth.signup' ) }}" class="links">SIGN UP</a>
                        </span>
                    </button>

                    <button class="cssbuttons-io">
                        <span>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                            d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                            fill="currentColor"></path>
                        </svg>
                        <a href="{{ url_for( 'auth.login' ) }}" class="links">LOGIN</a>
                    </span>
                </button>
                {% else %}
                <button class="cssbuttons-io">
                    <span>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                            fill="currentColor"></path>
                        </svg>
                        <a href="{{ url_for( 'main.profile' ) }}" class="links">Account</a>
                    </span>
                </button>
                <button class="cssbuttons-io">
                    <span>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                            fill="currentColor"></path>
                        </svg>
                        <a href="{{ url_for( 'main.account' ) }}" class="links">Profile</a>
                    </span>
                </button>
                <button class="cssbuttons-io">
                    <span>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                        d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                        fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for( 'auth.logout' ) }}" class="links">LOGOUT</a>
                        </span>
                    </button>
                     {% endif %}
                </div>
                <div id="burger" class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    
    <script>
    const burger = document.getElementById('burger');
    const navLinks = document.querySelector('.nav-links');
    
    burger.addEventListener('click', () => {
        // Toggle the visibility of navigation buttons
        navLinks.classList.toggle('nav-active');
        console.log("Button Clicked !!!")
        console.log(navLinks);
    });
    
    function openLoginPage() {
        window.location.href = 'login_style.htm'
    }
    function openSignUpPage() {
        window.location.href = 'signUp.htm'
    }
    
</script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new
    Typed('#element', {
        strings: ['BCA STUDENT PORTAL'],
        typeSpeed: 50, Loop: 10,
    });
</script>

</body>
</html>
