{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<body>
    <link rel="stylesheet" href="{{ url_for('static',filename='cards.css') }}">
    <div>
        {% if username %}
        <h1 style="color:blue; padding-top:5px" id="username">Welcome, {{ username }}!</h1>
        {% endif %}
    </div>

    

    <div class="main">
        <div class="cookieCard">
            <p class="cookieHeading">CGPA CALCULATOR</p>
            <p class="cookieDescription">Calculate your GPA by entering your Grades .
                <br>
                <br>
                Note :- This CGPA calculator is for BCA course only and U cannot Calculate other courses GPA
            </p>
            <a href="{{ url_for('main.calculator') }}">
                <button class="acceptButton">Go To Calculator</button>
            </a>
        </div>


        <div class="cookieCard">
            <p class="cookieHeading">ATTENDENCE</p>
            <p class="cookieDescription">Check your attendence by clicking below
                <br>
                <br>
                Note :- If your attendence is less than 50% then u have to pay attendence fees to the university
            </p>
            <button class="acceptButton">Check Your Attendance</button>
        </div>


        <div class="cookieCard">
            <p class="cookieHeading">MODEL PAPERS</p>
            <p class="cookieDescription">U can see previous year question papers and model papers here
                <br>
                <br>
                Note :- The model papers are just for refrence and the questions in previous have chance to repeat
            </p>
            <a href="{{ url_for('main.modelpaper') }}">
                <button class="acceptButton">Explore Papers</button>
            </a>
        </div>
    </div>

</body>

</html>

{% endblock %}