{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<body>
<section class="1">
    <link rel="stylesheet" href="{{ url_for('static',filename='style_index.css') }}">
        <div class="main">

            <div class="main_left">
                <h1>Stay Motivated!</h1>
                <p>
                    {% if quote %}
                    
                    <h2>{{ quote }}</h2>
                    {% endif %}
                </p>
            </div>
            <div class="main_right">
                <img src=" {{ url_for('static',filename='images_folder/chairman.webp') }}" alt="chairman" id="chairman">
                <h3>Pragnya Boys</h3>
                <p> Mentor -- <br>
                    P.Narsimha Raju, Srinivas </p>
            </div>
        </div>
    </section>
    



</body>


{% endblock %}