{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup_style.css') }}">
<body>
    <div class="supermain">
        <!-- header start  -->
        
        <div class="main_sec">
            <div class="rhombus_parent">
                <div class="rhombus"></div>
            </div>
            <div class="logo_form">
                <div class="logo">
                    <img src="{{ url_for('static' ,filename='images_folder/pragnya.jpg') }}" alt="image of logo">
                </div>
                
                <form action="{{ url_for('auth.signup_post') }}" method="POST" class="form form_main" onsubmit="return validateForm()"  >
                    <p class="title">Signup</p>
                    <div class="flashes">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <h3 style="color: red;">{{ message }}</h3>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
            
                    <p id="flash"> </p>
                    <!-- <p class="message">Signup now and get full access to our PORTAL </p> -->
                    <div class="flex">
                        <label>
                            <input required="" placeholder="" type="text" class="input" name="firstName" id="firstName">
                            <span>Firstname</span>
                        </label>
    
                        <label>
                            <input required="" placeholder="" type="text" class="input" name="lastName" id="lastName">
                            <span>Lastname</span>
                        </label>
                    </div>
    
                    <label>
                        <input required="" placeholder="" type="email" class="input" name="email" id="email">
                        <span>Email</span>
                    </label>
    
                    <label>
                        <input required="" placeholder="" type="password" class="input" name="password" id="password">
                        <span>Password</span>
                    </label>
                    <label>
                        <input required="" placeholder="" type="password" class="input" name="confirmPassword" id="confirmPassword">
                        <span>Confirm password</span>
                    </label>
                    <button class="submit"  type="submit"  onsubmit="return validateForm()">Submit</button>
                    <p class="signin">Already have an acount ? <a href="{{ url_for( 'auth.login' ) }}">Login</a> </p>
                </form>

            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<!-- <script src="/pragnya_responsive_app/scripts/signupScript.js"></script> -->
<script>
    var typed = new
        Typed('#element', {
            strings: ['BCA STUDENT PORTAL'],
            typeSpeed: 50, Loop: 50,
        });
</script>

</html>

{% endblock %}